@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/* ISSUE: Need to modify the navbar hover to change background color */

/* ISSUE: Need to make center box dissapear when opening navbar */

/* ISSUE: Can't get the yellow text-shadow to appear in the example-link class */

/* PENDING: Change Slack and Skype for Pinterest or other social media */

/* PENDING: Get rid of the right padding on mobile for columns */

/* PENDING: Crop image so it fits container properly */

/* GENERAL */

/* ISSUE: Need to make the background image work in all sizes */

.bg-main {
    background-image: url("images/background-image-project.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.clean-link {
    text-decoration: none;
    color: #fafafa;
}

.clean-link:hover {
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0px 0px 10px rgba(255, 204, 0, 1);
}

.clean-link:visited {
    text-decoration: none;
    color: #fafafa;
}

.clean-link:active {
    text-decoration: none;
    color: #fafafa;
}

.clean-link:link {
    text-decoration: none;
    color: #fafafa;
}

.clean-list {
    list-style: none;
}



/* NAVBAR */

.container-top {
    padding: 0 !important;
}

.nav-top {
    background-color: rgba(250, 250, 250, 0.4);
}

.nav-bottom {
    background-color: rgba(12, 71, 17, 0.5);
    text-align: center;
}

.spice-button {
    color: #fafafa;
    text-shadow: 5px 0px 10px rgba(250, 250, 250, 0.4);
}

.spice-button:hover {
    color: rgb(12, 71, 17);
}


/* BOOTSTARP SPICE NAVBAR */

.navbar-mod .navbar-toggle {
    border-color: transparent;
}

.navbar-mod .navbar-toggle:hover,
.navbar-mod .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-mod .navbar-toggle .icon-bar {
    background-color: rgb(12, 71, 17);
}

/* CENTER BOX */

.center-box {
    background-color: rgba(250, 250, 250, 0.7);
    position: relative;
}

@media (min-width:767px) {
    .center-box {
        height: 250px;
        max-width: 70%;
        transform: translateX(25%);
    }
}

@media (min-width:991px) {
    .center-box {
        height: 350px;
        max-width: 70%;
        transform: translateY(30%);
        left: 15%;
    }
}

.center-box-heading {
    font-family: "raleway", sans-serif;
    position: relative;
    margin-left: 20px;
}

.center-box-heading h1 {
    font-size: 35px;
    font-weight: 700;
    color: rgb(12, 71, 17);
}

@media (min-width:767px) {
    .center-box-heading h1 {
        font-size: 50px;
    }
}

@media (min-width:991px) {
    .center-box-heading h1 {
        font-size: 60px;
    }
}

.center-box-heading h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(102, 51, 0);
}

@media (min-width:767px) {
    .center-box-heading h2 {
        font-size: 24px;
    }
}

@media (min-width:992px) {
    .center-box-heading h2 {
        font-size: 35px;
    }
}

.center-box-p {
    font-family: "open sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #111;
    margin-top: 10px;
    margin-left: 20px;
}

@media (min-width:991px) {
    .center-box-p {
        font-size: 18px;
    }
}

.center-box-button {
    margin: 10px 20px 20px 10px;
    height: 50px;
    width: 70px;
    border-radius: 35px;
    border-left-color: rgb(18, 105, 25);
    border-top-color: rgb(18, 105, 25);
    border-right-color: rgb(15, 68, 20);
    border-bottom-color: rgb(15, 68, 20);
    background-color: rgb(12, 71, 17);
    transition: 0.25s ease-in-out;
}

.center-box-button:hover {
    background-color: rgb(255, 204, 0);
    border-left-color: rgb(255, 219, 77);
    border-top-color: rgb(255, 219, 77);
    border-right-color: rgb(230, 184, 0);
    border-bottom-color: rgb(230, 184, 0);
}

@media (min-width:992px) {
    .center-box-button {
        margin: 20px 30px 40px 20px;
        height: 75px;
        width: 105px;
        border-radius: 37px;
    }
}

.center-box-button-text {
    text-align: center;
    color: #fafafa;
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.center-box-button-text:hover {
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0px 0px 15px rgb(51, 39, 0);
}

@media (min-width:992px) {
    .center-box-button-text {
        font-size: 20px;
    }
}

/* COL INTRO */

.col-master {
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 0!important;
}

@media (min-width:575px) {
    .col-master {
        margin-top: 2%;
        margin-left: 0%!important;
    }
}

@media (min-width:575px) and (max-height:500px) {
    .col-master {
        margin-top: 2%;
        margin-left: 0%!important;
        max-width: 80%;
    }
}

@media (min-width:767px) {
    .col-master {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 85%;
    }
}

@media (min-width:767px) and (max-height:500px) {
    .col-master {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 85%;
    }
}


@media (min-width:1199px) {
    .col-master {
        margin-left: 10%!important;
        max-width: 70%;
    }
}

.col-a,
.col-b,
.col-c,
.col-d {
    margin-top: 2%;
}

.flex-row {
    display: flex;
}

@media (min-width:991px) {
    .col-a,
    .col-b,
    .col-c,
    .col-d {
        padding: 0;
    }
}

.col-a {
    background-color: rgba(250, 250, 250, 0.7);
}

.col-b {
    background-color: rgba(255, 204, 0, 0.7);
}

.col-c {
    background-color: transparent;
}

@media (max-height:500px) {
    .col-b,
    .col-c {
        display: none;
    }
}

.col-d {
    background-color: rgba(250, 250, 250, 0.7);
    display: inline-block;
}

/* PAGES STYLES */

.action-button {
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}

.action-text {
    text-align: center;
    color: #fafafa;
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.action-text:hover {
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0px 0px 15px rgb(51, 39, 0);
}

.inline-title {
    display: inline;
}

.inline-button {
    display: inline;
    max-width: 80px;
    max-height: 40px;
    border-radius: 20px;
}

@media (min-width:991px) {
    .action-text {
        font-size: 16px;
    }
}

@media (min-width:991px) {
    .secondary-p {
        display: inline;
    }
}

.col-big-icon {
    margin: auto;
    font-size: 50px;
    color: #fafafa;
    text-shadow: 0px 0px 15px rgb(12, 71, 17);
    text-align: center;
}


.col-example {
    padding: 15px 0 10px 0!important;
}

.heading {
    font-family: "raleway", sans-serif;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(12, 71, 17);
}

.normal-p {
    font-family: "open sans", sans-serif;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.secondary-p {
    display: none;
}

/* CONTACT FORM */




/* SOCIAL MEDIA  */

.social-media-section {
    position: absolute;
    bottom: 5%;
}

@media (min-width: 300px) {
    .social-media-section {
        width: 180px;
        margin-right: 5px;
        position: absolute;
        float: left;
        bottom: -35%;
    }
}

@media (min-width: 300px) and (min-height:321px) {
    .social-media-section {
        width: 180px;
        margin-right: 5px;
        position: absolute;
        float: left;
        bottom: -8%;
    }
}


@media (min-width: 300px) and (min-height:570px) {
    .social-media-section {
        width: 280px;
        margin-right: 5px;
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
}

@media (min-width: 575px) {
    .social-media-section {
        width: 280px;
        margin-right: 35px;
        transform: rotate(90deg);
        position: absolute;
        right: -20%;
        top: 50%;
        bottom: 50%;
    }
}

@media (min-width: 575px) and (min-height:500px) {
    .social-media-section {
        width: 280px;
        margin-right: 35px;
        transform: rotate(90deg);
        position: absolute;
        right: -20%;
        top: 50%;
        bottom: 50%;
    }
}

@media (min-width: 767px) {
    .social-media-section {
        transform: rotate(90deg);
        position: absolute;
        right: -15%;
    }
}

@media (min-width: 767px) and (min-height:499px) {
    .social-media-section {
        /*transform: rotate(90deg);*/
        position: absolute;
        right: -15%;
    }
}

@media (min-width: 991px) {
    .social-media-section {
        transform: rotate(90deg);
        position: absolute;
        right: -10%;
    }
}

@media (min-width:1199px) {
    .social-media-section {
        transform: rotate(90deg);
        position: absolute;
        right: -5%;
    }
}


.social-media {
    height: 40px;
    text-align: center;
}

.social-media-button {
    margin-top: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

@media (min-width:639px) {

    .social-media-button {
        transform: rotate(-90deg);
    }
}

.social-media-logo {
    color: #fafafa;
    margin-top: 3px;
    font-size: 20px!important;
    text-align: center;
}


.social-media-logo:hover {
    transform: scale(1.3);
    transition: 0.3s ease-out;
}

.fa-twitter {
    background-color: rgb(0, 172, 237);
}

.twitter-button {
    background-color: rgb(0, 172, 237);
    border-color: rgb(102, 214, 255) rgb(0, 150, 204) rgb(0, 150, 204) rgb(102, 214, 255);
}

.fa-linkedin {
    background-color: rgb(72, 117, 180);
}

.linkedin-button {
    background-color: rgb(72, 117, 180);
    border-color: rgb(127, 159, 204) rgb(59, 95, 145) rgb(59, 95, 145) rgb(127, 159, 204);
}

.fa-github {
    background-color: rgb(51, 51, 51);
}

.github-button {
    background-color: rgb(51, 51, 51);
    border-color: rgb(115, 115, 115) rgb(10, 10, 10) rgb(10, 10, 10) rgb(115, 115, 115);
}

.fa-slack {
    background-color: rgb(207, 14, 91);
}

.slack-button {
    background-color: rgb(207, 14, 91);
    border-color: rgb(243, 88, 150) rgb(191, 13, 84) rgb(191, 13, 84) rgb(243, 88, 150);
}

.fa-instagram {
    background-color: rgb(233, 89, 80);
}

.instagram-button {
    background-color: rgb(233, 89, 80);
    border-color: rgb(238, 127, 119) rgb(204, 37, 25) rgb(204, 37, 25) rgb(238, 127, 119);
}

.fa-skype {
    background-color: rgb(0, 175, 240);
}

.skype-button {
    background-color: rgb(0, 175, 240);
    border-color: rgb(102, 214, 255) rgb(0, 150, 204) rgb(0, 150, 204) rgb(102, 214, 255);
}

/* IMAGES */

.profile-pic {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-image: url(/images/gabyguedezh-profile.jpg);
    background-size: cover;
    margin: 10px;
}

.example-web-div {
    width: 75%;
    height: 5%;
    margin: auto;
}

.example-web-img {
    max-width: 100%;
    max-height: 100%;
}

.example-p {
    font-family: "open sans", sans-serif;
    font-style: italic;
    padding: 3px;
    background-color: #fafafa;
    color: #111;
}

.example-link {
    text-decoration: none;
}

.example-link:hover {
    text-decoration: none;
    color: #111;
}

.example-link:visited {
    text-decoration: none;
    color: #111;
}

.example-link:active {
    text-decoration: none;
    color: #111;
}

.example-link:link {
    text-decoration: none;
    color: #111;
}



/* FOOTER */

footer {
    background-color: rgba(12, 71, 17, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.footer-box {
    font-family: "open sans", sans-serif;
    color: #fafafa;
    font-size: 10px;
    margin-top: 4px;
}

@media(min-width:767px) {
    .footer-box {
        font-size: 14px;
        margin-top: 6px;
    }
}

@media(min-width:767px) {
    .footer-menu {
        float: right;
        margin-right: 10%;
    }
}

@media(min-width:991px) {
    .footer-menu {
        float: right;
        margin-right: 15%;
    }
}


.footer-link {
    margin-left: 5px;
    margin-right: 5px;
}
