@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/* ISSUE: The footer's background-color dissapears in smaller screen sizes */

/* PENDING: Merge media queries and identify if one is causing the issue with the footer */

/* PENDING: Change Slack and Skype for Pinterest or other social media */

/* PENDING: Get rid of the right padding on mobile for columns */

/* PENDING: Pair top of flexboxes */

/* GENERAL */

.screen-size {
    height: 100vh;
    width: 100vw;
}

.bg-main {
    background-image: url("images/background-image-project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.clean-link {
    text-decoration: none;
    color: #fafafa;
}

.clean-link:hover {
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0px 0px 10px rgba(255, 204, 0, 1);
}

.clean-link:visited {
    text-decoration: none;
    color: #fafafa;
}

.clean-link:active {
    text-decoration: none;
    color: #fafafa;
}

.clean-link:link {
    text-decoration: none;
    color: #fafafa;
}

.clean-list {
    list-style: none;
}

.margin-top-text {
    margin-top:5px;
}

/* NAVBAR */

.container-top {
    padding: 0 !important;
}

.nav-top {
    background-color: rgba(250, 250, 250, 0.4);
}

.nav-bottom {
    background-color: rgba(12, 71, 17, 0.5);
    text-align: center;
}

.spice-button {
    color: #fafafa;
    text-shadow: 5px 0px 10px rgba(250, 250, 250, 0.4);
}

.spice-button:hover {
    color: rgb(12, 71, 17);
}

#navbar>ul>li>a:hover {
    background-color: rgba(255, 204, 0, 0.7);
}

/* BOOTSTARP SPICE NAVBAR */

.navbar-mod .navbar-toggle {
    border-color: transparent;
}

.navbar-mod .navbar-toggle:hover,
.navbar-mod .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-mod .navbar-toggle .icon-bar {
    background-color: rgb(12, 71, 17);
}

/* CENTER BOX */

.center-box {
    background-color: rgba(250, 250, 250, 0.7);
    position: relative;
}

.center-box-heading {
    font-family: "raleway", sans-serif;
    position: relative;
    margin-left: 20px;
}

.center-box-heading h1 {
    font-size: 35px;
    font-weight: 700;
    color: rgb(12, 71, 17);
}


.center-box-heading h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(102, 51, 0);
}

.center-box-p {
    font-family: "open sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #111;
    margin-top: 10px;
    margin-left: 20px;
}


.center-box-button {
    margin: 10px 20px 20px 10px;
    height: 50px;
    width: 70px;
    border-radius: 35px;
    border-left-color: rgb(18, 105, 25);
    border-top-color: rgb(18, 105, 25);
    border-right-color: rgb(15, 68, 20);
    border-bottom-color: rgb(15, 68, 20);
    background-color: rgb(12, 71, 17);
    transition: 0.25s ease-in-out;
}

.center-box-button:hover {
    background-color: rgb(255, 204, 0);
    border-left-color: rgb(255, 219, 77);
    border-top-color: rgb(255, 219, 77);
    border-right-color: rgb(230, 184, 0);
    border-bottom-color: rgb(230, 184, 0);
}

.center-box-button-text {
    text-align: center;
    color: #fafafa;
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.center-box-button-text:hover {
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0px 0px 15px rgb(51, 39, 0);
}


/* COL INTRO */

.col-master {
    margin: 2% 0 5% 0;
    padding: 0!important;
}


.flex-row {
    display: flex;
}

.col-a,
.col-b,
.col-c,
.col-d,
.col-e {
    margin-top: 2%;
    width: 100%;
}

.col-a {
    background-color: rgba(250, 250, 250, 0.7);
}

.col-b {
    background-color: rgba(255, 204, 0, 0.7);
}

.col-c {
    background-color: transparent;
}


.col-d {
    background-color: rgba(250, 250, 250, 0.7);
    display: inline-block;
}

.col-e {
    background-color: rgba(12, 71, 17, 0.5);
    display: inline-block;
    max-height: 352px;
}

/* PAGES STYLES */

.action-button {
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    margin: 10px 20px 20px 10px;
    border-left-color: rgb(18, 105, 25);
    border-top-color: rgb(18, 105, 25);
    border-right-color: rgb(15, 68, 20);
    border-bottom-color: rgb(15, 68, 20);
    background-color: rgb(12, 71, 17);
    transition: 0.25s ease-in-out;
}

.action-button:hover {
    background-color: rgb(255, 204, 0);
    border-left-color: rgb(255, 219, 77);
    border-top-color: rgb(255, 219, 77);
    border-right-color: rgb(230, 184, 0);
    border-bottom-color: rgb(230, 184, 0);
}

.action-text {
    text-align: center;
    color: #fafafa;
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.action-text:hover {
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0px 0px 15px rgb(51, 39, 0);
}

.inline-title {
    display: inline;
}

.inline-button {
    display: inline;
    max-width: 80px;
    max-height: 40px;
    border-radius: 20px;
}


.col-big-icon {
    margin: auto;
    font-size: 50px;
    color: #fafafa;
    text-shadow: 0px 0px 15px rgb(12, 71, 17);
    text-align: center;
}


.col-example {
    padding: 15px 0 10px 0!important;
}

.heading {
    font-family: "raleway", sans-serif;
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgb(12, 71, 17);
}

.small-heading {
    font-family: "raleway", sans-serif;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(12, 71, 17);
}

.heading-alt {
    font-family: "raleway", sans-serif;
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgba(250, 250, 250, 0.7);
}

.normal-p {
    font-family: "open sans", sans-serif;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.centered-p {
    text-align: center;
}

.secondary-p {
    display: none;
}

.row-margin-top {
    margin-top: 20px;
}

.skills-list {
    width: 60%;
    float: right;
    margin-right: 10px;
    text-align: left;
}


/* CONTACT PAGE */

.contact-form {
    max-width: 90%;
    text-align: left;
}

.contact-icon {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: rgba(255, 204, 0, 0.7);
}

.contact-text {
    position: relative;
    bottom: 5px;
}

.form-label {
    width: 90px;
}

.text-area-label {
    position: relative;
    top: -35px;
}

.form-input {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    min-height: 28px;
    max-height: 300px;
    margin-bottom: 5px;
}

.textarea-input {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    min-height: 50px;
    max-height: 300px;
    margin-bottom: 5px;
}

.contact-list {
    margin-left: 15px;
    color: rgb(12, 71, 17);
}

/* SOCIAL MEDIA  */

.social-media-section {
    /*position: absolute;*/
    position:fixed;
    bottom: 6%;
    left: 3%;
}

.social-media {
    height: 5%;
    text-align: center;
}

.social-media-button {
    margin-top: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.social-media-logo {
    color: #fafafa;
    margin-top: 3px;
    font-size: 20px!important;
    text-align: center;
}


.social-media-logo:hover {
    transform: scale(1.3);
    transition: 0.3s ease-out;
}

.fa-twitter {
    background-color: rgb(0, 172, 237);
}

.twitter-button {
    background-color: rgb(0, 172, 237);
    border-color: rgb(102, 214, 255) rgb(0, 150, 204) rgb(0, 150, 204) rgb(102, 214, 255);
}

.fa-linkedin {
    background-color: rgb(72, 117, 180);
}

.linkedin-button {
    background-color: rgb(72, 117, 180);
    border-color: rgb(127, 159, 204) rgb(59, 95, 145) rgb(59, 95, 145) rgb(127, 159, 204);
}

.fa-github {
    background-color: rgb(51, 51, 51);
}

.github-button {
    background-color: rgb(51, 51, 51);
    border-color: rgb(115, 115, 115) rgb(10, 10, 10) rgb(10, 10, 10) rgb(115, 115, 115);
}

.fa-slack {
    background-color: rgb(207, 14, 91);
}

.slack-button {
    background-color: rgb(207, 14, 91);
    border-color: rgb(243, 88, 150) rgb(191, 13, 84) rgb(191, 13, 84) rgb(243, 88, 150);
}

.fa-instagram {
    background-color: rgb(233, 89, 80);
}

.instagram-button {
    background-color: rgb(233, 89, 80);
    border-color: rgb(238, 127, 119) rgb(204, 37, 25) rgb(204, 37, 25) rgb(238, 127, 119);
}

.fa-skype {
    background-color: rgb(0, 175, 240);
}

.skype-button {
    background-color: rgb(0, 175, 240);
    border-color: rgb(102, 214, 255) rgb(0, 150, 204) rgb(0, 150, 204) rgb(102, 214, 255);
}

/* IMAGES */

.border-img {
    border-style: solid;
    border-width: 2px;
    border-color: #fafafa;
}

.profile-pic {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-image: url(/images/gabyguedezh-profile.jpg);
    background-size: cover;
    margin: 10px;
}

.example-web-div {
    width: 75%;
    height: 5%;
    margin: auto;
}

.example-last {
    margin-bottom:15%;
}

.example-web-img {
    max-width: 100%;
    max-height: 100%;
}



.example-p {
    font-family: "open sans", sans-serif;
    font-style: italic;
    padding: 3px;
    background-color: #fafafa;
    color: #111;
}

.example-link {
    text-decoration: none;
}

.example-link:hover {
    text-decoration: none;
    color: #111;
}

.example-link:visited {
    text-decoration: none;
    color: #111;
}

.example-link:active {
    text-decoration: none;
    color: #111;
}

.example-link:link {
    text-decoration: none;
    color: #111;
}

.logo {
    display: inline;
}

.logo-img {
    height: 78px;
    width: 78px;
    border-radius: 39px;
    margin: 5px;
}



/* FOOTER */

.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(12, 71, 17);
}

.footer-box {
    font-family: "open sans", sans-serif;
    font-size: 0.7em;
    margin-top: 4px;
}

.footer-link {
    margin-left: 5px;
    margin-right: 5px;
}

.footer-p {
    text-decoration: none;
    color: #fafafa;
}

/* MEDIA QUERIES */

/* MEDIA QUERIES GENERAL */

@media (max-width:812px) and (max-height:414px) {
    .screen-size {
        height: 200vh;
        width: 100vw;
    }
}

@media (max-width:811px) and (max-height:414px) {
    .screen-size {
        height: 170vh;
        width: 100vw;
    }
}

/* MEDIA QUERIES CENTER-BOX */

@media (min-width:767px) {
    .center-box {
        height: 230px;
        max-width: 70%;
        transform: translateX(25%);
        border-radius: 20px;
    }
    .center-box-heading h1 {
        font-size: 50px;
    }
    .center-box-heading h2 {
        font-size: 24px;
    }
}

@media (min-width:991px) {
    .center-box {
        height: 300px;
        max-width: 70%;
        transform: translateY(30%);
        left: 15%;
    }
    .center-box-heading h1 {
        font-size: 60px;
    }
    .center-box-heading h2 {
        font-size: 35px;
    }
    .center-box-p {
        font-size: 18px;
    }

    .center-box-button {
        margin: 20px 30px 40px 20px;
        height: 75px;
        width: 105px;
        border-radius: 37px;
    }
    .center-box-button-text {
        font-size: 20px;
    }
}


/* MEDIA QUERIES COL-MASTER */

@media (max-height:568px) {
    .col-b,
    .col-c {
        display: none;
    }
    .skills-list {
        width: 50%;
    }
}

@media (min-width:575px) {
    .col-master {
        margin-top: 2%;
        margin-left: 0%!important;
    }
    .contact-form {
        margin-left: 30%;
    }
}

@media (min-width:575px) and (max-height:500px) {
    .col-master {
        margin-top: 2%;
        margin-left: 0%!important;
        max-width: 80%;
    }
    .skills-list {
        width: 70%;
    }
}

@media (min-width:767px) {
    .col-master {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 85%;
    }
    .col-a,
    .col-b,
    .col-c,
    .col-d,
    .col-e {
        border-radius: 20px;
    }
    .skills-list {
        width: 75%;
    }
}

@media (min-width:767px) and (max-height:500px) {
    .col-master {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 85%;
    }
}

@media (min-width:991px) {
    .col-a,
    .col-b,
    .col-c,
    .col-d {
        padding: 0;
    }
    .action-text {
        font-size: 16px;
    }
    .secondary-p {
        display: inline;
    }
    .row-margin-top {
        margin-top: 30px;
    }
}

@media (min-width:1199px) {
    .col-master {
        margin-left: 10%!important;
        max-width: 70%;
    }
}


/* MEDIA QUERIES SOCIAL-MEDIA */

/* Very Small Phones */

@media (max-width:360px) and (max-height:588px) {
    .social-media-section {
        display: none;
    }
}

/* Small Phones */

@media (min-width:575px) and (max-height:575px) {
    .social-media-section {
        position: fixed;
        height: 250px;
        width: 200px;
        top: 40vh;
        left: 80%;
    }
    .social-media {
        transform: rotate(90deg);
        left: 80%;
    }
    .social-media-button {
        transform: rotate(270deg);
    }
}

/* Small Phones Horizontal */

@media(max-height:640px) {
    .social-media-section {
        transform: scale(0.8);
        position: fixed;
        bottom: 6%;
    }
}

/* iPhone X horizontal */

@media(max-width:812px) and (min-width:641px) and (max-height:375px) {
    .social-media-section {
        transform: scale(0.8);
        position: fixed;
        bottom: 6%;
        left: 80%;
    }
}

/* Laptop */

@media (min-width:767px) and (min-height:575px) {
    .social-media-section {
        position: fixed;
        height: 250px;
        width: 200px;
        top: 40vh;
        transform: scale(1.2);
        left: 85%;
    }
    .social-media {
        transform: rotate(90deg);
    }
    .social-media-button {
        transform: rotate(270deg);
    }
}

/* iPad Horizontal */

@media (min-width:767px) and (min-height:767px) {
    .social-media-section {
        position: fixed;
        height: 250px;
        width: 200px;
        top: 40vh;
        transform: scale(1.2);
        left: 85%;
    }
    .social-media {
        transform: rotate(90deg);
    }
    .social-media-button {
        transform: rotate(270deg);
    }
}

/* iPad Vertical */

@media (min-width:767px) and (max-width:991px) and (min-height:991px) and (max-height:1199px) {
    .social-media-section {
        position: fixed;
        height: 250px;
        width: 200px;
        top: 40vh;
        transform: scale(1.2);
        left: 80%;
    }
    .social-media {
        transform: rotate(90deg);
    }
    .social-media-button {
        transform: rotate(270deg);
    }
}

/* iPad Pro */

@media (min-width:991px) and (min-height:1199px) {
    .social-media-section {
        transform: scale(1.5);
        bottom: 6%;
        left: 85%;
    }
}

/* MEDIA QUERIES IMAGES */

@media (min-width:767px) {
    .example-web-img {
        border-radius: 20px;
    }
    .example-p {
        border-radius: 10px;
    }
}

@media (min-width:767px) {
.example-last {
    margin-bottom:0%;
}
}

@media (min-width:1199px) {
    .logo-img {
        height: 88px;
        width: 88px;
        border-radius: 44px;
        margin: 5px 5px 10px 5px;
    }
}


/* MEDIA QUERIES FOOTER */

@media(min-width:767px) {
    .footer {
        height: 5%;
    }
    .footer-box {
        font-size: 1em;
        margin-top: 4px;
    }
    .footer-menu {
        float: right;
        margin-right: 10%;
    }
}

@media(min-width:991px) {
    .footer {
        height: 4%;
    }
    .footer-box {
        font-size: 1em;
        margin-top: 4px;
    }
    .footer-menu {
        margin-right: 15%;
    }
}

@media(min-width:767) and (min-height:380px) {
    .footer {
        height: 3%;
    }
}

@media(min-width:767) and (min-height:575px) {
    .footer {
        height: 2%;
    }
}
